.place__paragraph{
    color: white;
    font-size: 18px;
    font-weight: normal;
    line-height: 29px;
    text-align: left;
    margin: 0 0 26px 0;
}

@media (max-width: 800px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width: 700px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}