.header__lang-link_lang_en {
    color: white;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.header__lang-link_lang_en:visited {
    color: white;
}

.header__lang-link_lang_en:hover {
    opacity: .5;
}

@media (max-width: 480px) {
    .header__lang-link_lang_en {
        font-size: 18px;
        line-height: 20px;
    }
}